@media(max-width:576px){
    .headline h1 {
        font-size: 40px;
    }
    .headline span {   
        font-size: 40px;
    }
    .headline a {

        font-size: 15px;

    }
    .height {
        display: flex;
        flex-direction: column-reverse;
    }
   
    .banner_img_two_people{
        width: 93%;
        
    }
    .feature-img {
        width: 92%;
        padding: 0 0 0 55px;
        margin-left: 25px;
    }
    .feature-content {
        text-align: left;
    }
    .feature-content h3 {
        font-size: 40px;

    }
    .feature-content h2 {
        font-size: 40px;
 
    }
    .man {
        display: none;
    }
    .Speciality_section h2 span {
 
        font-size: 40px;
    }
    .Speciality_section h2 {
  
        font-size: 40px;
    }
    
    .process_section .tittle h2 {
        margin: 0;
        margin-bottom: 85px;
        font-size: 45px;
    }
    .responsive-gap{
        margin-bottom: 12%;
    }
    .service_section .service_table {
        text-align: center;
        font-size: 27px;
    }
    .service_table h3 {
        font-size: 40px;
        text-align: center;
    }

    .Speciality_section .btn_action {

        padding: 16px 34px;
        font-size: 15px;

    }
    .card i {
       
        font-size: 26px;
        left: -40px;
        bottom: 182px;
    }
    .service_section .btn_action {
        border-radius: 12px;
        padding: 16px 30px;
        font-size: 18px;
 
    }
    .question-section .tittle h3 {
        font-weight: 700;
         margin-bottom: 10px; 
        font-size: 40px;
    }
    .footer_two_people{
        width: 100%;
    }
    .footer_section .height {
        min-height: 0px;
        margin: 20px 0;
    }
    .footer-bg {

        bottom: -70%;
        left: 36%;
        width: 64%;
    }
    .policy p {
        font-size: 18px;
        font-weight: 300;
        text-align: right;
        color: #f9f9f9;
    }
    footer .content {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .content_details p {
        font-weight: 600;
        font-size: 15px;
        color: #000;
        text-align: start;
    }
    .content_details p span {
        font-weight: 700;
        color: #0961b1;
    }
    footer .call a {
        /* display: inline-block; */
        color: #fff;
        border: 2px solid #0961b1;
        padding: 13px 22px;
        border-radius: 20px;
        text-decoration: none;
        background: #0961b1;
        font-size: 15px;
    }
    .footer_section .footer_two_people {
        width: 52%;
        position: absolute;
        bottom: -50%;
        right: 0%;
    }
    .call{
        text-align: left;
    }
}
